@import "typography.css";

* {
  margin: 0;
  paddding: 0;
  font-weight: normal;
}

body {
  width: 800px;
  margin: auto;
  margin-top: 2em;
  margin-bottom: 2em;
}

ul, ol, li {
  list-style: none;
  padding-left: 0;
}

p {
  margin-top: 1em;
  margin-bottom: 1em;
}

nav {
  text-align: right;
}

nav a {
  text-decoration: none;
}

nav li {
  display: inline;
  padding: 0 .2em 0 .2em;
}

section, footer {
  clear: both;
}

section, footer, nav {
  display: block;
}

footer, nav {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

nav {
  margin-bottom: 2em;
}

figure {
  display: block;
  width: 80%;
  margin: auto;
}

figure img {
  margin: auto;
  display: block;
}

figcaption p {
  text-align: center;
}

footer {
  margin-top: 2em;
  text-align: center;
}

footer * {
  margin: 0;
}

footer *,
figcaption *,
.posted {
  color: #555;
  font-size: small;
}

.gutter,
.main,
dl.maingutter dt,
dl.maingutter dd {
  float: left;
}

.gutter,
dl.maingutter dt {
  width: 20%;
}

.main,
dl.maingutter dd {
  width: 79%;
}

.break {
  margin-top: 1em;
}

.indent {
  padding-left: 1em;
}

.posted {
  float: left;
}
