@import "typography.css";

* {
  margin: 0;
  paddding: 0;
  font-weight: normal;
}

body {
  width: 800px;
  margin: auto;
  margin-top: 2em;
  margin-bottom: 2em;
}

ul, ol, li {
  padding-left: 0;
  list-style: none;
}

p {
  margin-top: .5em;
  margin-bottom: .5em;
}

pre code {
  display: block;
  padding-left: 2em;
}

nav {
  text-align: right;
}

nav a {
  text-decoration: none;
}

nav li {
  display: inline;
  padding: 0 .2em 0 .2em;
}

section, footer {
  clear: both;
}

section, footer, nav {
  display: block;
}

footer, nav {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

nav {
  margin-bottom: 2em;
}

figcaption p {
  text-align: right;
  font-size: tiny;
}

footer {
  display: block;
  margin-top: 2em;
}

footer * {
  margin: 0;
}

footer *,
figcaption *,
.posted,
.tweettime * {
  color: #555;
  font-size: small;
}

/* gutter */
section dt,
header dt,
figure figcaption,
section section header,
#tweets .tweettime,
.gutter {
  float: left;
  width: 20%;
}

/* main */
section dd,
header dd,
section section p,
figure img,
#tweets .tweet,
.main {
  float: left;
  width: 79%;
}

/* main, no gutter */
section ol,
section p,
section pre,
section section ul,
section section dt,
.onlymain {
  float: left;
  width: 79%;
  margin-left: 20%;
}

section section li {
  margin-left: 1em;
}

/* full */
section header,
.full,
.full p {
  margin-left: 0;
  width: 100%;
}

/* resets */
.onlymain dt,
.onlymain dd {
  width: 100%;
  float: none;
}

.onlymain dd {
  margin-left: 1em;
}

.break {
  margin-top: 1em;
}

.indent {
  padding-left: 1em;
}

.posted {
  float: left;
}

.nounderline {
  text-decoration: none;
}

footer dl {
  border-bottom: 1px solid #ccc;
}

footer dt,
footer dd {
  display: inline;
}

#tweets ul {
  list-style: none;
}
#tweets .tweettime {
  text-decoration: none;
  color: #555;
}
