@import "../fonts/latin-modern-mono/stylesheet.css";
@import "../fonts/latin-modern-roman/stylesheet.css";
@import "../fonts/latin-modern-sans/stylesheet.css";

* {
  font-family: "LatinModernRoman10Regular", Arial, serif;
  color: #000;
  background: #FFF;
}

.italic,
cite {
  font-family: "LatinModernRoman10Italic", Arial, serif;
}

.bold,
h1, h2, h3, h4, h5, h6,
h1 *, h2 *, h3 *, h4 *, h5 *, h6 * {
  font-family: "LatinModernRoman10Bold", Arial, serif;
}

.mono,
pre, code {
  font-family: "LatinModernMono10Regular", Arial, serif;
}
