@import "../fonts/latin-modern-mono/stylesheet.css";
@import "../fonts/latin-modern-roman/stylesheet.css";
@import "../fonts/latin-modern-sans/stylesheet.css";

* {
  font-family: inherit;
  font-weight: normal;
  color: #000;
  background: #FFF;
  text-align: inherit;
}

body {
  font-family: "LatinModernRoman10Regular", Arial, serif;
}

p, li, dt, dd, time {
  line-height: 1.5;
  text-align: justify;
}

li, dd {
  margin: .2em 0 .2em 0;
}

.regular {
  font-family: "LatinModernRoman10Regular", Arial, serif;
}

.italic,
cite {
  font-family: "LatinModernRoman10Italic", Arial, serif;
}

.bold,
h1, h2, h3, h4, h5, h6 {
  font-family: "LatinModernSans10Bold", Arial, serif;
}

.sans {
  font-family: "LatinModernSans10Regular", Arial, serif;
}

.mono,
pre, code {
  font-family: "LatinModernMono10Regular", Arial, serif;
}
