@import "../css/site.css";

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-weight: normal;
}

body {
  width: 800px;
  margin: auto;
  margin-top: 2em;
  margin-bottom: 2em;
}

ul {
  list-style-type: none;
  margin-left: 2em;
}

section, footer {
  clear: both;
}

footer {
  margin: 10em 0 2em 0;
  border-top: 2px solid #ccc;
  padding-top: 1em;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}
