* {
  padding: 0;
  margin: 0;
}

article {
  width: 800px;
  margin: auto;
}

section {
  clear: both;
}

article > section {
  margin: 2em 0 2em 0;
}

header dt,
header dd {
  line-height: 1.4em;
}

header dt {
  clear: left;
  width: 5em;
  height: 0;
}

header dd {
  margin-left: 10em;
  float: left;
}

section section {
  margin-left: 10em;
}

section section header {
  font-size: 50%;
  float: right;
  width: 100%;
}

section section .dates {
  margin-left: -10em;
  float: left;
}
