@import "../css/typography.css";

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-weight: normal;
  line-height: 1.5em;
}

body {
  width: 800px;
  margin: auto;
  margin-top: 2em;
  margin-bottom: 2em;
}

ul {
  list-style-type: none;
  margin-left: 2em;
}

section {
  clear: both;
}

.gutter,
.main {
  float: left;
}

.gutter {
  width: 20%;
}

.main {
  width: 79%;
}

.main dd {
  padding-left: 2em;
}

ul.main {
  margin-left: 0;
}
